<h1>About this Web Apps</h1>
<p>
  <%= link_to "Choose Cheese", "https://github.com/mcbuddy/choose_cheese" %>
  is a Cheese Web Database and Search Engine.<br />
  This Web Apps using <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  framework.
</p>