<div class="hero-unit">
    <div align="center">
        <%= image_tag("cheese-icon.png", alt: "Choose Cheese") %>
    </div>
        <h1>Welcome to Choose Cheese!</h1>
    <p>
      You've found the home page for the
      <%= link_to "Choose Cheese", "http://agile-waters-1371.herokuapp.com" %>
      application.
    <h3>This Website still under construction</h3>
    </p>
    <p>
      <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large btn-custom" %>
    </p>
</div>
